* {
  font-family: "Centra", sans-serif !important;
  box-sizing: border-box;
  list-style: none;
  color: whitesmoke;
  transition: all 0.2s ease;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  cursor: default;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background: rgb(233, 81, 26);
  font-weight: 300;
  scroll-behavior: smooth;
  transition: ease 0.2s;
  font-size: 0.8em;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: Centra;
  src: url(../Resources/font/CentraNo2-Bold.ttf);
  font-weight: 100;
}
@font-face {
  font-family: Centra;
  src: url(../Resources/font/CentraNo2-Medium.ttf);
  font-weight: 200;
}
@font-face {
  font-family: Centra;
  src: url(../Resources/font/CentraNo2-Book.ttf);
  font-weight: 300;
}
.container {
  background: orangered;
  display: flex;
  justify-content: center;
  gap: 2em;
}

.Card {
  padding: 2em;
  border-radius: 20px;
  background: yellow;
  display: flex;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  box-shadow: 2px 9px 19px #383838;
}
.Card .cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Card .Face {
  height: 10em;
  width: 10em;
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: 1px 1px 3px black;
}
.Card .Main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.4em;
  width: 100%;
}
.Card .Main .left span {
  display: block;
}
.Card .Main .left .first {
  line-height: 0.6em;
}
.Card .Main .left .last {
  font-size: 1.5em;
  font-weight: bold;
}
.Card .Main .rite span {
  font-weight: bold;
  font-size: 1.8em;
  line-height: 0;
}
.Card .details {
  display: flex;
  gap: 2em;
  margin-top: 0.6em;
}
.Card .details .rite {
  display: flex;
}
.Card ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.Card ul li {
  display: flex;
  gap: 5px;
  align-items: center;
}
.Card .digit {
  font-weight: bold;
  font-size: 1.2em;
}

.Navbar {
  width: 100%;
  background: rgb(233, 81, 26);
  padding: 2em;
  position: fixed;
  top: 0;
}
.Navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: none;
}
.Navbar .container .left {
  cursor: pointer;
  width: 2em;
  height: 2em;
  background: white;
  border: none;
  border-radius: 50%;
  box-shadow: 2px 2px 2px #000;
}
.Navbar .container .rite {
  cursor: pointer;
  width: 2em;
  height: 2em;
  background: rgb(101, 35, 223);
  border: none;
  border-radius: 50%;
  box-shadow: 2px 2px 2px #000;
}
.Navbar .container .right span {
  font-weight: bold;
  color: whitesmoke;
  border: 3px whitesmoke solid;
  padding: 0.5em 0.7em;
  background: rgb(250, 87, 27);
}
.Navbar .container .right .blue {
  background: blue;
  border: black 3px solid;
}

.Homey .poop {
  z-index: -2;
  position: absolute;
  top: 8em;
  left: 9em;
  width: 8em;
  height: 8em;
  box-shadow: 1px 1px 2px #000;
  rotate: 340deg;
}
.Homey .poopy {
  z-index: -2;
  position: absolute;
  cursor: pointer;
  top: 8em;
  left: 9em;
  width: 7em;
  height: 7em;
  box-shadow: 1px 1px 2px #000;
  rotate: 310deg;
}
.Homey .poop2 {
  z-index: -2;
  position: absolute;
  bottom: 11em;
  right: 11em;
  width: 8em;
  height: 8em;
  box-shadow: 1px 1px 2px #000;
  rotate: 40deg;
}
.Homey .poopy2 {
  z-index: -2;
  position: absolute;
  cursor: pointer;
  bottom: 11em;
  right: 11em;
  width: 7em;
  height: 7em;
  box-shadow: 1px 1px 2px #000;
  rotate: 60deg;
}

section {
  padding: 4em;
  margin-top: 6em;
}
section h1 {
  font-size: 6em;
  font-weight: bold;
  color: whitesmoke;
  line-height: 0.8em;
  margin-bottom: 0.2em;
  text-shadow: 2px 2px 2px #000;
}
section span {
  font-weight: bold;
  font-size: 2em;
  color: whitesmoke;
}
section .small {
  position: absolute;
  bottom: 7em;
  right: -3em;
  color: whitesmoke;
  display: block;
  width: 40%;
  margin-top: 2em;
  font-size: 1.1em;
  rotate: 270deg;
}

.Caro {
  display: flex;
  justify-content: center;
  margin-top: 16em;
  width: 100%;
  overflow: hidden;
}
.Caro .box {
  width: 100%;
  padding: 1em;
  border: 3px whitesmoke solid;
  display: flex;
  justify-content: center;
}
.Caro .box span {
  display: block;
}

.SecondAvenger {
  margin-top: 0;
}/*# sourceMappingURL=Oriflae.css.map */